<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>authentication</title>
</head>
<body>
<form action="/login" method="post">
    <label for="username">username</label>
    <!--  The back end will get the value of the input tag by its attribute "name". So it must be defined.  -->
    <input type="text" id="username" name="username"/>
    <label for="password">password</label>
    <input type="password" id="password" name="password"/>
    <div>
        <button type="submit" class="">登录</button>
    </div>
</form>
</body>
</html>