<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.GrandWorldG.mapper.UserInfoMapper">
    <!-- type of resultMap usually is a model customized by developer. -->
    <resultMap id="userInfoModel" type="UserInfo">
        <!-- jdbcType of result is a data type of database. -->
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="domain_Username" property="domainUsername" jdbcType="VARCHAR"/>
        <result column="social_security_number" property="socialSecurityNumber" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- parameterType of select can be a customized model or a primitive type. -->
    <select id="selectUserInfoByUsername" parameterType="java.lang.String" resultMap="userInfoModel">
        select ui.user_id,
        ui.username,
        <!-- Line below will throw an error when we use a postgre DB in version 13. But it runs correctly in version 14.-->
        convert_from(decrypt(ui.password::bytea,ui.domain_username::bytea,'AES'),'SQL_ASCII') password,
        ui.create_time,
        ui.last_update_time,
        ui.domain_username,
        ui.social_security_number,
        ur.role_name
        from travel_fly.user_info ui
        left join travel_fly.user_role ur
        on ui.role_id = ur.role_id
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectAllUserInfo" resultMap="userInfoModel">
        select ui.user_id,
        ui.username,
        <!--  Show how to use decryption function of postgre's extension pgcrypto.  -->
        convert_from(decrypt(ui.password::bytea,ui.domain_username::bytea,'AES'),'SQL_ASCII') password,
        ui.create_time,
        ui.last_update_time,
        ui.domain_username,
        ui.social_security_number,
        ur.role_name
        from travel_fly.user_info ui
        left join travel_fly.user_role ur
        on ui.role_id = ur.role_id

    </select>
    <!--  jdbcType must be uppercase.  -->
    <!--  Column name of the primary key doesn't need to be written
    either in the column name or values, unless the key needs to be generated manually.  -->
    <!--  The primary key of postgre database must be defined as "serial" or it can not be generated automatically.  -->
    <insert id="insertUserInfo" keyProperty="userId" parameterType="UserInfo"
            useGeneratedKeys="true">
        insert into travel_fly.user_info
        (username,password,create_time,last_update_time,domain_username,social_security_number,role_id)
        values(
        #{username,jdbcType=VARCHAR},
        <!-- Show how to use encryption function of postgre's extension pgcrypto.
        Here we use domain username as secret key.
        Aes is the encryption algorithm. -->
        encrypt(#{password,jdbcType=VARCHAR}::bytea,#{domainUsername}::bytea,'AES'),
        current_timestamp,
        current_timestamp,
        #{domainUsername,jdbcType=VARCHAR},
        #{socialSecurityNumber,jdbcType=VARCHAR},
        (select role_id from travel_fly.user_role where role_name = #{roleName,jdbcType=VARCHAR})
        )
    </insert>
    <!--    <update id="" parameterType="">-->
    <!--    </update>-->
    <!--    <delete id="" parameterType="">-->
    <!--    </delete>-->
</mapper>