<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.GrandWorldG.mapper.UserInfoMapper">
    <!-- type of resultMap usually is a model customized by developer. -->
    <resultMap id="userInfoModel" type="com.example.GrandWorldG.entity.UserInfo">
        <!-- jdbcType of result is a data type of database. -->
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- parameterType of select can be a customized model or a primitive type. -->
    <select id="selectUserInfoByUserId" parameterType="java.lang.Long" resultMap="userInfoModel">
        select user_id,username,password,create_time,last_update_time
        from travel_fly.user_info
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
<!--    <insert id="" keyProperty="" parameterType="" useGeneratedKeys="true">-->
<!--    </insert>-->
<!--    <update id="" parameterType="">-->
<!--    </update>-->
<!--    <delete id="" parameterType="">-->
<!--    </delete>-->
</mapper>